body {
    margin: 0;
    padding: 0;
    background-color: #000b14;
    color: #dfdeda;
    font-family: 'JetBrains Mono';
    transition: background-color 0.125s linear, color 0.15s linear;
    user-select: none;
    overflow-x: hidden;
}

#top_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
}

a {
    color: #dfdeda;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.double_slash { /* span */
    color: #041b38;
}

/*.double_slash_container {
    display: flex;
    flex-direction: row;
}*/

.button_centerer {
    margin: auto;
    text-align: left;
    margin-left: 10vw;
}


.slidey {
    width: calc(100vw - 100px);
    height: fit-content;
    position: sticky;
    background-color: #000b14;
    top: 0;
    padding: 5px 50px 100px 50px;
    transition: background-color 0.125s linear, color 0.15s linear;
}

.highlight { /* span (highlight in dark mode) */
    background-color: #ff5733;
    color: #000b14;
    font-weight: bolder;
    padding: 0px 2px 0px 2px;
}

.slidey-line {
    width: 100%;
    color: #041b38;
}

.gray-text {
    color: #041b38;
}

#about_me { z-index: 1; }
#header { z-index: 2; }
#s1 { z-index: 3;  }
#s2 { z-index: 4;  }
#s3 { z-index: 5;  }
#footer { z-index: 6; height: 25vh; }

#profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto 10px auto;
    box-shadow: 0px 0px 4px 4px #dfdeda;
}

#profile_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#color_bg { 
    background-color: #dfdeda; 
    color: #000b14;
}

#color_button:hover {
    cursor: pointer;
}

#color_button {
    margin-top: 10px;
    margin-left: 10px;
}

#back_button {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}

.button, h1, #language_button {
    user-select: none;
    text-decoration: none;
}

#buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
    width: min-content;
}

#title, #buttons {
    margin: auto;
    width: 80%;
    text-align: center;
}

#about_me_div {
    margin: 10px 10px 10px 0px;
    width: calc(100% - 80px);
    height: calc(100% - 40px); 
    box-shadow: 0 0 10px #041b38;
    border-radius: 10px;
    background-color: #000b14bb;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    transition: visibility 0s, opacity 0.5s linear;
}

