$ctp-crust: #11111b
$ctp-mantle: #181825
$ctp-base: #1e1e2e

$ctp-surface0: #313244
$ctp-surface1: #45475a

$ctp-overlay0: #6c7086
$ctp-overlay1: #7f849c

$ctp-subtext: #a6adc8
$ctp-text: #cdd6f4
$ctp-header: #f5c2e7
$ctp-link: #fab387

$ctp-primary: #cba6f7
$ctp-secondary: #b4befe
$ctp-info: #f9e2af

$font-base: 'Plus Jakarta Sans', sans-serif
$font-header: 'Playfair Display', cursive