@import colorscheme

.legend
  width: 100%
  display: flex
  justify-content: end
  align-items: center
  background-color: $ctp-crust
  padding: 1rem 0
  border-radius: 1rem
  box-sizing: border-box

  a
    color: $ctp-link
    font-size: 1.2rem
    font-family: $font-base
    margin: 0 1rem

    svg
      fill: $ctp-link
      width: 24px
      height: 24px